<div style="height:100%;position: relative;background-position:center;background-repeat: no-repeat; background-size:cover">
  <div style="position:absolute;left:0;top:40%;width:100%;text-align:center;">
    <h2>Hi !</h2>
    <h3>This is my site. Enjoy :)</h3>
  </div>

  <div style="position:absolute;top:1%;right:10%">
    <ul id="top_links">
      <li>
        <a routerLink="/login" >Sign in</a>
      </li>
      <li>
        <a routerLink="/register">Register</a>
      </li>
    </ul>
  </div>

  <div style="position:absolute;bottom:0px;font-size: 12px;">
    <p>Created By Arga Tahta (Jan 2018)</p>
  </div>
</div>